* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(-45deg, #0f172a, #1e293b, #0f172a, #1a1a40);
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    color: white;
    scroll-behavior: smooth;
}

header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        135deg,
        rgba(30, 41, 59, 0.8),
        rgba(15, 23, 42, 0.9)
    );
    backdrop-filter: blur(10px);
    text-align: center;
}
header h1 {
    font-size: 3rem;
    background: linear-gradient(90deg, #38bdf8, #6366f1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

header p {
    margin-top: 10px;
    font-weight: 300;
    color: #cbd5e1;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #38bdf8, #6366f1);
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.1);
}

section {
    padding: 80px 10%;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(40px);
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 30px;
    background: #1e293b;
    color: #94a3b8;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}